{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2><a href="{{ path('index') }}">Retour sur la homepage</a></h2>
            <div class="col-6">
                <img src="https://media.lelombrik.net/t/cb213023dc6abbf9ead3214de42a48c3/p/01.jpg" alt="">
            </div>
        </div>
    </div>


{% endblock %}