{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <h1>Oups cette page n'existe plus</h1>
        <a href="{{ path('index') }}">Retour sur la homepage</a>
    </div>
{% endblock %}