{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block body %}

    <div>Contactez-moi</div>

    <a href="{{ path('index')}}">Retour à l'accueil</a>

{% endblock %}