{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block body %}

    <div class="container">

        {{ form(form) }}

        <a href="{{ path('index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}