{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            {% for member in members %}

                <div class="col-4">
                    <img src="{{ vich_uploader_asset(member, 'imageFile') }}" alt="{{ member }}">
                    <br>
                    {{ member.firstName }} {{ member.lastName }}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
