{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}



{% block body %}
    <div class="container">
        <h1>Ici la liste des membres:</h1>

        {% for member in members %}
            <li>{{ member.firstName}} {{ member.lastName }}</li>
        {% endfor %}
    </div>
{% endblock %}
