@import "bootstrap-custom";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "vars";


*{
font-family: $font;
}

body {
  font-family: Open Sans,sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.2rem;
  -webkit-text-size-adjust: 100%;
  color: #888;
}

h1 h2 h3 h4 h5 h6 {
  margin-bottom: 10px; 
}

p {
  font-size: 1rem;
}

.my-color {
  color: $primary-color;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.mainImg {
  // background-image: url('img/mainImg.jpg');
  background-size: cover;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


header nav {
      .ulNavBAr {
          display: flex;
          justify-content: flex-end;
          position: relative;
          right: 20rem;

                  li {
                      padding: 15px;                        
                  }
              }
          } 

.ulNavBAr .liAlignSelfLeft {
  align-self: flex-start;
}

.h2-style {
  color: $primary-color;
  text-align: center;
  font-size: 40px;
}

.hr-taille{
  width: 6rem;
  margin: auto;
  margin-top: 1.25rem;
}

.espace {
  margin-bottom: 1rem;
}

.espace-h2 {
  padding-top: 4rem;
  padding-bottom: 0.75rem;
}

.espaceAgenceReactive {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.gras {
  font-weight: bold;
}

.no-padding{
  padding: 0;
}

.icon-yellow {
  color: $primary-color;
  font-size: 60px !important
}

.img-taille-realisations {
  max-width: 100%;
  width: 90%;
}

.sing_work_photo {
  width: 100%;
}

.separationGrise {
  width: 15.8rem;
  border-top: 1px solid #eee;
  margin-top: 20px; 
  margin-bottom: 20px; 
  height: 0;
}



.team {
  padding-top: 80px;
}

.tailleDivImgTeam {
  width: 25%;
}

.teammate {
  width: 50%;
}

.section-title {
  margin-bottom: 60px; 
}

.section-padding {
  padding: 20px 0;
}

.hovereffect {
  float: left;
  position: relative;
  text-align: center;
  cursor: default;
    img {
      display: block;
      position: relative;
      filter: grayscale(100%);
      width: 100%;
    }

   .overlay {
      position: absolute;
      top: 0;
      left: 0;

        h2 {
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          font-size: 17px;
        }
    }
}

.hovereffect, .hovereffect .overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hovereffect h2, .hovereffect p {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity .35s, webkit transform .35s;
  transition: opacity .35s, transform .35s;
  transition: opacity .35s, transform .35s, -webkit-transform .35s;
  -webkit-transform: translated3d(50%, 50%, 0);
  transform: translated3d(-50%, 50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.hovereffect2 {
  width: 100%;
  height: 100%;
  max-height: 450px; 
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

    img {
      display: block;
      position: relative;
      transition: all .35s;
    }
}

.yellow {
  color: $primary-color;
}

.btn-primary.btn-alt {
  background-color: $primary-color !important;
  margin: 15px 0;
  border-color: $primary-color;
}

// .btn-primary.btn-alt :hover {
    
// }

.bouttunAlignCenter {
  text-align: center;
}

.text-center {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.single_counter {
  h1 {
  margin-bottom: 1rem;
  font-size: 40px;
  text-align: center;
  }
  h5 {
    margin-top: 0.2rem;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
  }
  span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 2px;
    width: 60px;
    position: relative;
    // right: 90%; 
    left: 6rem
  }
}


.cardMotImportant {
  font-size: 20px;
}

// Div Jaune chiffre en dessous de team

.colloneDivJauneChiffre {
  visibility: visible; 
  animation-delay: 0.2s; 
  animation-name: l;
}

.template_counter {
  background: $primary-color;
}

.container .row .colloneDivJauneChiffre {
  color: white;
}

.taille-div-expertise {
  width: 50%;
}

.taille-img-expertise{
  width: 100%; 
}

.single_blog {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 5px rgba(0,0,0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.single_blog_header {
  margin-bottom: 20px;
  overflow: hidden;
}

.hovereffect3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
  text-align: center;
  cursor: default;
    img {
      display: block;
      position: relative;
      transition: all 0.4s linear;
      max-width: 100%;
      height: auto;
    }
}

// .owl-carousel {

// }